.cart-page .header {
  font-weight: 500;
  font-size: 25px;
  color: #303030;
}

.cart-page .cart-wrapper {
  border: 5px solid grey;
  width: fit-content;
}

.cart-page .cart-wrapper h4 {
  color: #303030;
}

.cart-page .cart-wrapper .price {
  color: #00bc8c;
}

.cart-page .delete {
  text-decoration: none;
}

.cart-page .cart-wrapper button {
  font-size: 13px;
  height: 40px;
}

.cart-page .cart-wrapper .increase {
  background-color: #00bc8c;
}

.cart-page .cart-wrapper .decrease {
  background-color: #e74c3c;
}

.cart-page .sum-total {
  font-size: 28px;
  font-weight: 500;
  color: #303030;
}

.cart-page .sum-head {
  color: #00bc8c;
  font-size: 28px;
  font-weight: 500;
}

.cart-page .checkout {
  height: 50px;
  width: 200px;
  font-size: 16px;
}

.cart-page .checkout a {
  text-decoration: none;
  color: white;
}
