.cart-page {
    background-color: #FAE5D3;
    padding: 4% 0%;
}

.cart-page h3 {
    font-weight: 700;
    margin-bottom: 10%;
}

.cart-page .items-split {
    margin-bottom: 8%;
}

.cart-page .cart-wrapper {
    border: 5px solid grey;
    padding: 2% 3%;
    width: 85%;
    margin-top: 4%;
}

.cart-page .cart-wrapper h4 {
    color: black;
}

.cart-page .cart-wrapper .price {
    color: green;
}

.cart-page .cart-wrapper .quantity-count {
    padding: 1% 2%;
    height: 30px;
    width: 30px;
}

.cart-page .cart-wrapper button {
    font-size: 12px;
    padding: 1% 5%;
    margin-top: 5%;
    margin-right: 2%;
    height: 40px;
}

.cart-page .cart-wrapper .increase {
    background-color: green;
    color: white;
}

.cart-page .cart-wrapper .decrease {
    background-color: red;
    color: white;
}

.cart-page .cart-wrapper .delete {
    margin-left: 3%;
}

.cart-page .sum-total {
    color: green;
    font-size: 55px;
    margin: 8% 0%;
}

.cart-page .sum-section {
    margin-bottom: 4%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cart-page .sum-total {
        margin: 3% 0%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}