.contact-page {
  color: black;
}

.contact-page .alert {
  text-align: right;
  color: red;
}

.post-submit {
  height: 100vh;
  text-align: center;
}

.post-submit h4 {
  color: black;
}

.post-submit a {
  color: blue;
}
